bin
lib
doc/html
backup
testdata
testresults

Debug
Release
MinSizeRel
RelWithDebInfo

CMakeFiles
CMakeCache.txt
cmake_install.cmake
*_log.txt

*.vcproj
*.vcproj.*
*.sln
*.suo
*.ncb
*.log
install_manifest.txt
localenv.bat

moc_*.cxx*
